body {
    background-color: rgb(14, 35, 37);
}
iframe {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:100%;
    height:95%;
    border:none;
    margin:0;
    padding:0;
    overflow:hidden;
    z-index:999999;
    } video::-internal-media-controls-download-button {
        display:none; 
    } video::-webkit-media-controls-enclosure {
        overflow:hidden;
    } video::-webkit-media-controls-panel {
        width: calc(100% + 30px); /* Adjust as needed */
    }  /* Remove botão de download de vídeos */


button {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width: 100%;
    height:5%;
    border:none;
    margin:0;
    padding:0;
    overflow:hidden;
    z-index:999999;}
}